# config.yaml.example

app:
  port: 9999
  log_level: "info"
  debug: true
  secret_key: "your_secret_key"

PostgreSQLConfig:
  Host: "localhost"
  port: 5432
  User: "user_aaa"
  Password: "aaa"
  Name: "db_union"

redis:
  host: "your_host"
  port: 6379
  password: "your_password"
  db: 0