@import "@arco-design/web-vue/es/message/style/index.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//dark mode 使用媒体查询
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #000;
        color: #fff;
    }
}