@import "@arco-design/web-vue/es/message/style/index.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body[arco-theme="dark"] {
  background-color: #121212;
  color: #fff;
}
